<!--
  File name: COMP229-F2022-MIDTERM-301128334
  Author's name: Dahye Lee 
  Student ID: 301128334
  Web App name: comp229-f2022-301128334.herokuapp.com
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
